<a type="button" href="/productos" class="btn btn-dark btn-lg ms-5 mt-5">Ver
  lista de productos</a>

<form action="/productos" method="post">
  <div class="form-floating mt-5 mb-3 ms-5 me-5">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Nombre"
      name="title"
    />
    <label for="floatingInput">Ingrese el Nombre</label>
  </div>
  <div class="form-floating mb-3 ms-5 me-5">
    <input
      type="number"
      class="form-control"
      id="floatingInput"
      placeholder="Precio"
      name="price"
    />
    <label for="floatingInput">Ingrese el precio</label>
  </div>
  <div class="form-floating mb-3 ms-5 me-5">
    <input
      type="text"
      class="form-control"
      id="floatingInput"
      placeholder="Imagen"
      name="thumbnail"
    />
    <label for="floatingInput">Ingrese la url de la imagen</label>
  </div>
  <div class="d-grid ms-5 me-5">
    <input type="submit" value="Agregar Producto" class="btn btn-dark btn-lg" />
  </div>
</form>